@model ClassifyNamedEntityViewModel;
@{
    ViewData["Title"] = "Classificar";
    var namedEntities = ViewData["NamedEntitiesList"] as List<ClassifyNamedEntityViewNamedEntityDto>;
    var pendingClassificationsList = ViewData["PendingClassificationsList"] as List<ClassifyNamedEntityViewPendingClassificationDto>;
    var namedEntitiesCount = namedEntities != null ? namedEntities.Count : 0;
}

<div class="container my-5">

    <div class="row mb-4">
        <div class="row">
            @if(namedEntities != null && namedEntitiesCount != 0)
            {
                <h1 class="display-6 text-color-primary">Por favor, classifique a entidade a baixo:</h1>
                <h2 class="display-4">@namedEntities[Model.NamedEntityIndex].Name</h2>
            }
            else
            {
                <h2 class="display-4">Essa bula não tem mais entidades para você classificar</h2>
            }

        </div>

        <section class="row row-col-1 row-cols-md-2 p-3 shadow-sm border rounded bg-light mb-4">
            <div class="col">
                <div class="row">
                    <div class="col-12">
                        <form 
                            id="PendingClassifyForm"
                            asp-action="PostCreateClassification" 
                            asp-controller="User" 
                            asp-route-idPrescribingInformation="@Model.IdPrescribingInformation" 
                            asp-route-namePrescribingInformation="@Model.NamePrescribingInformation"
                            method="post">

                            <input type="hidden" id="InputIdCategory" asp-for="CreateClassificationForm!.IdCategory" name="IdCategory">
                            <input type="hidden" id="InputIdUser" asp-for="CreateClassificationForm!.IdUser" name="IdUser"
                                value="@User.FindFirstValue(ClaimTypes.NameIdentifier)">

                            @if(namedEntities != null && namedEntitiesCount != 0)
                            {
                                <input type="hidden" id="InputIdNamedEntity" asp-for="CreateClassificationForm!.IdNamedEntity" name="IdNamedEntity" 
                                    value="@namedEntities![Model.NamedEntityIndex]!.Id">
                            }

                            <div class="row row-cols-2 row-cols-md-3">
                                @if(Model.Categories != null)
                                {
                                    @foreach(var category in Model.Categories)
                                    {
                                        <div class="col d-grid mb-2">
                                            <button 
                                                type="submit" 
                                                class="btn btn-primary text-break @(namedEntitiesCount == 0 ? "disabled" : "")" 
                                                onclick="SetValueToCategoryInput(event, '@category.Id')"
                                            >
                                                @category
                                            </button>
                                        </div>
                                    }
                                }
                            </div>

                            <div class="form-floating mb-3">
                                <textarea 
                                    class="form-control @(namedEntitiesCount == 0 ? "disabled" : "")" 
                                    id="TextAreaComment"
                                    asp-for="CreateClassificationForm!.Comment" 
                                    name="Comment" 
                                    rows="3" 
                                    placeholder="Comentários"></textarea>

                                <label class="form-label" for="TextAreaComment">Comentários</label>
                            </div>

                        </form>
                    </div>
                </div>

                <div class="row row-cols-2">
                    <div class="col d-grid gap-2 d-md-flex mb-2 mb-md-0">
                        <a
                            class="btn btn-dark flex-fill @(Model.NamedEntityIndex <= 0 ? "disabled" : "")"
                            asp-controller="User" 
                            asp-action="ClassifyNamedEntity" 
                            asp-route-entityIndex="@(Model.NamedEntityIndex-1)"
                            asp-route-namePrescribingInformation="@Model.NamePrescribingInformation">
                                Voltar
                        </a>
                        
                        <a
                            class="btn btn-dark flex-fill @(Model.NamedEntityIndex >= (namedEntities!.Count-1) ? "disabled" : "")" 
                            asp-controller="User" 
                            asp-action="ClassifyNamedEntity" 
                            asp-route-entityIndex="@(Model.NamedEntityIndex+1)"
                            asp-route-namePrescribingInformation="@Model.NamePrescribingInformation">
                                Pular
                        </a>
                    </div>
                    <form 
                        id="SendClassificationToCompletedForm"
                        class="col d-grid" 
                        asp-action="PostUpdateClassificationToCompleted"
                        asp-controller="User"
                        asp-route-returnUrl = "@(ViewBag.ReturnURL != null ? ViewBag.ReturnURL : ' ')"
                        method="post" 
                    >
                        <input type="hidden" asp-for="PatchClassificationForm!.IdUser" name="IdUser" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)">
                        <input 
                            type="hidden" 
                            asp-for="PatchClassificationForm!.IdPrescribingInformation" 
                            name="IdPrescribingInformation" 
                            value="@Model.IdPrescribingInformation"
                        >

                        <button type="submit" class="btn btn-success">Enviar</button>
                    </form>

                </div>

            </div>

            <div class="col mt-3 mt-md-0">
                <table id="TableUserClassificationsPending" class="table">
                    <thead>
                        <tr class="table-dark">
                            <th class="fw-bolder" scope="col">Entidade</th>
                            <th class="fw-bolder" scope="col">Categoria</th>
                            <th class="fw-bolder" scope="col">Remover</th>
                        </tr>
                    </thead>

                    <tbody>
                        @if(pendingClassificationsList != null)
                        {
                            @foreach(var cls in pendingClassificationsList)
                            {
                                <tr>
                                    <td>@cls.NamedEntity</td>
                                    <td>@cls.Category</td>
                                    <td>
                                        <form 
                                            id="DeletePendingClassificationForm" 
                                            asp-action="PostDeletePendingClassification"
                                            asp-controller="User"
                                            asp-route-idPrescribingInformation="@Model.IdPrescribingInformation" 
                                            asp-route-namePrescribingInformation="@Model.NamePrescribingInformation"
                                            method="post" 
                                        >
                                            <input type="hidden" asp-for="DeletePendingClassificationForm!.IdClassification" 
                                                name="IdClassification" value="@cls.IdClassification">
                                            <button type="submit" class="btn btn-outline-danger btn-sm">
                                                <i class="bi bi-trash3 fs-6"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>

                    <tfoot>
                        @if(pendingClassificationsList != null)
                        {
                            <tr>
                                <td colspan="3" class="bg-body-secondary">Quantidade: @pendingClassificationsList.Count</td>
                            </tr>
                        }
                    </tfoot>
                </table>
            </div>
        </section>
    </div>
</div>