@model ClassifyNamedEntityViewModel;
@{
    ViewData["Title"] = "Classificar";
    var namedEntities = ViewData["NamedEntities"] as List<ClassifyNamedEntityViewNamedEntityDto>;
}

<div class="container my-5">

    <div class="row mb-4">
        <div class="row">
            <h1 class="display-6 text-color-primary">Por favor, classifique a entidade a baixo:</h1>
            @if(namedEntities != null)
            {
                <h2 class="display-4">@namedEntities[Model.NameEntityIndex].Name</h2>
            }
        </div>

        <section class="row row-cols-2 p-3 shadow-sm border rounded bg-light mb-4">
            <div class="col">
                <div class="row">
                    <div class="col-12">
                        <form 
                            id="PendingClassifyForm"
                            method="post">

                            <input type="hidden" id="InputIdCategory" asp-for="IdCategory">
                            <input type="hidden" id="InputIdUser" asp-for="IdUser" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)">
                            <input type="hidden" id="InputIdNamedEntity" asp-for="IdNamedEntity" value="@namedEntities![Model.NameEntityIndex]!.Id">

                            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
                                @if(Model.Categories != null)
                                {
                                    @foreach(var category in Model.Categories)
                                    {
                                        <div class="col d-grid mb-2">
                                            <button 
                                                type="submit" 
                                                class="btn btn-primary text-break" 
                                                onclick="SetValueToCategoryInput(event, '@category.Id')"
                                            >
                                                @category
                                            </button>
                                        </div>
                                    }
                                }
                            </div>

                            <div class="form-floating mb-3">
                                <textarea class="form-control" id="TextAreaComment" name="Comment" rows="3" placeholder="Comentários"></textarea>
                                <label class="form-label" for="TextAreaComment">Comentários</label>
                            </div>

                        </form>
                    </div>
                </div>

                <div class="row row-cols-1 row-cols-md-2">
                    <div class="col d-grid gap-2 d-md-flex mb-2 mb-md-0">
                        <a
                            class="btn btn-dark flex-fill @(Model.NameEntityIndex <= 0 ? "disabled" : "")"
                            asp-controller="User" 
                            asp-action="ClassifyNamedEntity" 
                            asp-route-entityIndex="@(Model.NameEntityIndex-1)">
                                Voltar
                        </a>
                        
                        <a
                            class="btn btn-dark flex-fill @(Model.NameEntityIndex >= (namedEntities!.Count-1) ? "disabled" : "")" 
                            asp-controller="User" 
                            asp-action="ClassifyNamedEntity" 
                            asp-route-entityIndex="@(Model.NameEntityIndex+1)">
                                Pular
                        </a>
                    </div>

                    <form class="col d-grid" method="post" action="/User/PatchClassificationToCompleted">
                        <input type="hidden" name="IdUser" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)">
                        <input type="hidden" name="IdPrescribingInformation" value="@Model.IdPrescribingInformation">

                        <button type="submit" class="btn btn-success">Enviar</button>
                    </form>

                </div>

            </div>

            <div class="col">
                <table id="TableUserClassifications" class="table">
                    <thead>
                        <tr class="table-dark">
                            <th class="fw-bolder" scope="col">Entidade</th>
                            <th class="fw-bolder" scope="col">Categoria</th>
                            <th class="fw-bolder" scope="col">#</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Medico</td>
                            <td>Pessoa</td>
                            <td>+</td>
                        </tr>
                    </tbody>

                    <tfoot>
                        <tr>
                            <td colspan="3">Quantidade: 1</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </section>
    </div>

    <div class="row mb-4">
        <div class="row">
            <h2 class="display-6">Nome da Bula</h2>
        </div>

        <section class="row p-3 shadow-sm border rounded bg-light mb-4">
            <table class="table">
                <thead>
                    <tr class="table-dark">
                        <th class="fw-bolder" scope="col">Entidade</th>
                        <th class="fw-bolder" scope="col">Categoria</th>
                        <th class="fw-bolder" scope="col">#</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Medico</td>
                        <td>Pessoa</td>
                        <td>+</td>
                    </tr>
                </tbody>

                <tfoot>
                    <tr>
                        <td colspan="3">Quantidade: 1</td>
                    </tr>
                </tfoot>
            </table>
        </section>
    </div>

</div>

<script>
    function SetValueToCategoryInput(event, categoryId)
    {
        event.preventDefault()

        const inputIdCategory = document.getElementById('InputIdCategory');
        inputIdCategory.value = categoryId;

        document.getElementById('PendingClassifyForm').submit();
    }

</script>
