@model SignUpViewModel;

@{
    ViewData["Title"] = "Cadastrar";
}

<div class="container my-5">
    <section class="row justify-content-center">
        <form class="col-10 col-md-6 border rounded p-3 bg-light shadow-sm needs-validation" method="post">
            <h1 class="display-6 text-color-primary">Cadastrar</h1>
            
            <hr>

            <div class="form-floating mb-3 position-relative">
                <input 
                    class="form-control" 
                    type="email" 
                    id="InputEmail" 
                    placeholder="Email" 
                    asp-for="Email" 
                    maxlength=@Classificador.Api.Domain.Constants.Constraints.USER_EMAIL_MAX_LENGHT
                    required
                >
                <label class="form-label" for="InputEmail">Email</label>
                @if(TempData["EmailFailures"] != null && (TempData!["EmailFailures"] as string) != string.Empty)
                {
                    <div class="alert alert-danger alert-dismissible fade show m-1" role="alert">
                        @TempData["EmailFailures"]
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
                    </div>
                }
            </div>

            <div class="form-floating mb-3 position-relative">
                <input 
                    class="form-control" 
                    type="password" 
                    id="InputPassword" 
                    placeholder="Senha" 
                    asp-for="Password" 
                    minlength=@Classificador.Api.Domain.Constants.Constraints.USER_PASSWORD_MIN_LENGHT 
                    maxlength=@Classificador.Api.Domain.Constants.Constraints.USER_PASSWORD_MAX_LENGHT
                    required
                    >
                <label class="form-label" for="InputPassword">Senha</label>
                @if(TempData["PasswordFailures"] != null && (TempData!["PasswordFailures"] as string) != string.Empty)
                {
                    <div class="alert alert-danger alert-dismissible fade show m-1" role="alert">
                        @TempData["PasswordFailures"]
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
                    </div>
                }
            </div>

            <div class="form-floating mb-3 position-relative">
                <input 
                    class="form-control" 
                    type="password" 
                    id="InputConfirmPassword" 
                    placeholder="Confirmar a senha" 
                    asp-for="ConfirmPassword" 
                    minlength=@Classificador.Api.Domain.Constants.Constraints.USER_PASSWORD_MIN_LENGHT 
                    maxlength=@Classificador.Api.Domain.Constants.Constraints.USER_PASSWORD_MAX_LENGHT 
                    required
                >
                <label class="form-label" for="InputConfirmPassword">Confirmar a Senha</label>
                @if(TempData["ConfirmPasswordFailures"] != null && (TempData!["ConfirmPasswordFailures"] as string)!= string.Empty)
                {
                    <div class="alert alert-danger alert-dismissible fade show m-1" role="alert">
                        @TempData["ConfirmPasswordFailures"]
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
                    </div>
                }
            </div>

            <div class="form-floating mb-3 position-relative">
                <input 
                    class="form-control" 
                    type="text" 
                    id="InputName" 
                    placeholder="Nome Completo" 
                    asp-for="Name" 
                    maxlength=@Classificador.Api.Domain.Constants.Constraints.USER_FIRST_NAME_MAX_LENGHT 
                    required
                >
                <label class="form-label" for="InputName">Nome Completo</label>
                @if(TempData["NameFailures"] != null && (TempData!["NameFailures"] as string) != string.Empty)
                {
                    <div class="alert alert-danger alert-dismissible fade show m-1" role="alert">
                        @TempData["NameFailures"]
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
                    </div>
                }
            </div>

            <div class="form-floating mb-3 position-relative">
                <input 
                    class="form-control" 
                    type="text" 
                    id="InputContact" 
                    placeholder="Contato" 
                    minlength=@Classificador.Api.Domain.Constants.Constraints.USER_CONTACT_MAX_LENGHT 
                    maxlength=@Classificador.Api.Domain.Constants.Constraints.USER_CONTACT_MAX_LENGHT
                    data-mask="tel" 
                    asp-for="Contact"
                >
                <label class="form-label" for="InputContact">Contato</label>
                @if(TempData["ContactFailures"] != null && (TempData!["ContactFailures"] as string) != string.Empty)
                {
                    <div class="alert alert-danger alert-dismissible fade show m-1" role="alert">
                        @TempData["ContactFailures"]
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
                    </div>
                }

            </div>

            <div class="d-flex flex-column">
                <button type="submit" class="btn btn-color-success w-25 mb-3">Criar Conta</button>
                <a 
                    class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" 
                    asp-controller="Home" 
                    asp-action="Login">
                    Já tem uma conta? Clique aqui para entrar.
                </a>
            </div>
        </form>
    </section>
</div>

<script src="~/js/inputMasks.js"></script>